.flex {
    display: flex;
}
.grid {
    display: grid;
}
.grid-cols {
    grid-template-columns: repeat(3, 330px);
    gap: 24px;
    justify-content: center;
}
.grid-cols-2 {
    grid-template-columns: repeat(3, 280px);
    column-gap: 24px;
    justify-content: center;
}

.container {
    padding-inline: 120px;
}